<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Marina Kuznetsova, veebiprogrammeerimine 2023</title>
	<script src="first.js" defer></script>
</head>
<body>
	<img src="/banner/vp_banner_2023.png" alt="veebiprogrammeerimise kursuse banner">
	<h1>Eesti film</h1>
	<ul>
		<li><a href="/news">Uudiste avaleht</a></li>
		<li><a href="/">Avalehele</a></li>
	</ul>
	<hr>
	<h2>Uudise lisamine</h2>
	<form method = "POST">
		<label for="titleInput">Uudise pealkiri</label>
		<br>
		<input type="text" name="titleInput" id="titleInput" placeholder="Uudise pealkiri..." required>
		<br>
		<br>
		<label for="contentInput">Uudise sisu</label>
		<br>
		<textarea name="contentInput" id="contentInput" cols="80" rows="5" placeholder="Uudise tekst..." required maxlength="2000"></textarea>
		<br>
		<br>
		<label for="expirehDateInput">Aegumistähtaeg: </label>
		<Input type="date" name="expireDateInput" id="expireDateInput" required>
		<br>
		<input type="submit" name="newsSubmit" value="Salvesta">
	</form>
</body>
</html>