<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Marina Kuznetsova, veebiprogrammeerimine 2023</title>
	<script src="first.js" defer></script>
</head>
<body>
	<img src="/banner/vp_banner_2023.png" alt="veebiprogrammeerimise kursuse banner">
	<h1>Kasutajakonto</h1>
	<ul>
		<li><a href="/news">Uudiste avaleht</a></li>
		<li><a href="/">Avalehele</a></li>
	</ul>
	<hr>
	<h2>Kasutajakonto loomine</h2>
	<form method = "POST">
		<label for="firstNameInput">Eesnimi</label>
		<br>
		<input type="text" name="firstNameInput" id="firstNameInput" placeholder="Sinu eesnimi..." required>
		<br>
		<input type="text" name="lastNameInput" id="lastNameInput" placeholder="Sinu perekonnanimi..." required>
		<br>
		<input type="radio" name="genderInput" id="genderInput1" value=1 checked>
		<label for="genderInput1">Mees</label>
		<input type="radio" name="genderInput" id="genderInput2" value=2 checked>
		<label for="genderInput2">Naine</label>
		<label for="birthInpu">Sünnikuupäev</label>
		<Input type="date" name="birthInpu" id="birthInpu">
		<br>
		<label for="emailInput">E-mail (kasutajatunnus)</label>
		<input type="email" name="emailInput" id="emailInput">
		<br>
			<label for="passwordInput">Salasõna (min 8 märki)</label>
		<input type="password" name="passwordInput" id="passwordInput">
		<br>
		<label for="confirmPasswordInput">Korda salasõna</label>
		<input type="password" name="confirmPasswordInput" id="confirmPasswordInput">
		<br>
		<input type="submit" name="UserSubmit" value="Loo kasutajakonto">
		<span> <% locals.notice || "Ootel!" %></span>
	</form>
</body>
</html>